{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic" // Use the new JSX transform
      }
    }
  }
}
